@font-face {
  font-family: 'ubunturegular';
  src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2d2d2d;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px;
  background: #5B7B65;
  text-align: center;
}

h1 {
  color: #F5F5F5;
  font-size: 2.5em;
  font-family: 'ubunturegular', 'Helvetica', 'Sans-Serif';
}

h2 {
  color: #c8c8c8;
  font-size: 1.5em;
  font-family: 'ubunturegular', 'Helvetica', 'Sans-Serif';
}

h2 a:link a:visited {
  color: #a6a6a6;
  background-color: transparent;
  text-decoration: none;
}

h3 {
  color: #F5F5F5;
  font-size: 1.25em;
  font-family: 'ubunturegular', 'Helvetica', 'Sans-Serif';
}

h4 {
  color: #F5F5F5;
  font-size: 1.5em;
  font-family: 'ubunturegular', 'Helvetica', 'Sans-Serif';
}

p {
  font-size: 20px;
  font-family: 'ubunturegular', 'Helvetica', 'Arial', 'Sans-Serif';
  line-height: 1.4em;
  color: #F5F5F5;
}

p a:link {
  color: #f5f5f5;
  font-weight: bold
}

p a:link a:visited {
  color: #f5f5f5;
  font-weight: bold
}

p a:link a:visited {
  color: #a6a6a6;
  background-color: transparent;
  text-decoration: none;
}

p a:hover {
  color: #a6a6a6;
  background-color: transparent;
  font-weight: bold;
}

ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  background-color: transparent;
}

li {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'
    float: left;
  border-right: 2px #383838;
}

/* Add a border to all (but not the last) list items */
li:last-child {
  border-right: none;
}

li a {
  display: inline-block;
  color: #F5F5F5;
  padding: 15px 17px;
  text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
  background-color: #a09f9f;
}

.active {
  background-color: #a09f9f;
}

/* stuff relating to the lightbox on the portfolio page here: */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.labeltext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
