---
---

@import "{{ site.theme }}";

body {
  background-color: #cfe1c9 ;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

a {
  color: #1a5945;
  text-decoration:none;
}

a:hover, a:focus {
  color: #103629;
  font-weight: bold;
}
